SERVER_IP=192.168.1.42
HOMEPAGE_ALLOWED_HOSTS=${SERVER_IP}:3000,localhost:3000,127.0.0.1:3000
TZ=Europe/Bratislava
PUID=1000
PGID=1000

# Homepage widgets
RADARR_API_KEY=your_radarr_key_here
SONARR_API_KEY=your_sonarr_key_here
JELLYFIN_API_KEY=your_jellyfin_key_here
QBIT_PASSWORD=your_qbit_password_here
PORTAINER_API_KEY=your_portainer_key_here